.containerAttached {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.titleAttached {
  font-size: 18px;
  font-weight: 700;
  color: rgb(94, 96, 97);
}
.pAttached {
  margin: 0px;
}
.attachedRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px 5px 10px;
}
.dividerAttached {
  width: 100%;
  background-color: rgb(94, 88, 88);
  margin: 0px;
}
