.muirtl-i4bv87-MuiSvgIcon-root {
  font-size: 3.5rem !important;
}
.muirtl-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.muirtl-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: rgb(182, 28, 28) !important;
  font-size: 3.5rem !important;
}
